body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background: #FFFFFF;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}
address {
    font-style: normal;
}
img {
    display: block;
}

/*-----------HEADER-------------*/

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
}
.header-navigation {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-list {
    display: flex;
    gap: 40px;
}

.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-header {
    color: var(--NAVY-BLUE, #2E2F42);
}

.header-menu-link {
    color:  #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 24px;
padding-bottom: 24px;
}

.header-menu-link:hover {
    color: var(--OCEAN, #404BBF);
}

.header-menu-link:focus {
    color: var(--OCEAN, #404BBF);
}

.address {
    font-style: normal;
}
.address-list {
    padding-top: 24px;
    padding-bottom: 24px;
} 

.address-item-link {
color:#434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.address-item-link:hover {
    color: #404BBF;
}
.address-item-link:focus {
    color: #404BBF;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

/*-------------------------------*/

/*-------------HERO--------------*/

.hero {
    background: var(--NAVY-BLUE, #2E2F42);
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-container {
    
}
.hero-title {
    color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
margin: 0 auto;
}
.hero-btn{
    color: #FFF;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--IRIS, #4D5AE5);
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
}

.hero-btn:hover {
background: #404BBF;
 }

.hero-btn:focus {
    background-color: #404BBF;
 }

/*-------------------------------*/

/*-----------FEATURES-------------*/

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .features-list {
    display: flex;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }

.features-item-title {
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.feature-item-text {
    color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/*-------------------------------*/

/*-----------TEAM-------------*/

.team {
    background: var(--CLOUD, #F4F4FD);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}
.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 24 * 3) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team-members {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-img {
}
.team-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text {
    color: var(--SLATE, #434455);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}

/*-------------------------------*/

/*-----------PORTFOLIO-------------*/

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 24 * 2) / 3);
}

.portfolio-img {
   
}
.portfolio-products {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-list-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
}

/*-------------------------------*/

/*-----------FOOTER-------------*/

.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-white-part {
    color: var(--CLOUD, #F4F4FD);
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
}